.home {
	// Code here
}


.what-is {
	&__text {
		@include mq('tablet-wide') {
			padding-left: 35px;
			padding-right: 35px;
		}
	}

	&__img {
		@include mq('tablet-wide') {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@include mq('tablet-wide', max) {
		&__img {
			margin-bottom: 35px;
		}
	}

	@include mq('tablet', max) {
		&__img {
			img {
				width: 400px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}
		}
	}
	
	@include mq('phablet', max) {
		&__img {
			img {
				width: 250px;
			}
		}
	}
}

.aboutus {
	.btn {
		margin-top: 45px;
	}

	@include mq('phablet', max) {
		.btn {
			margin-top: 30px;
			display: block;
		}
	}
}

.food {
	position: relative;
	width: 100%;
	@include responsive-ratio(31,22);
	
	&__item {
		position: absolute;
		top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		@include responsive-ratio(31,22);

		&--insumos {
			background-image: url('../images/nosotros/comida/comida-insumos.jpg');
			left: 0;
			width: 100%;
			background-position: top left;
		}

		&--preparada {
			background-image: url('../images/nosotros/comida/comida-preparada.jpg');
			right: 0;
			width: 35%;
			background-position: top right;
			border-left: 2px solid $white;
		}
	}


}