.barker-suscription-item_description__active {
	display: block !important;
}

.barker-suscription-item_description__disable {
	display: none !important;
}

.barker-suscription-item_priceBox__active {
	display: block !important;
}

.barker-suscription-item_priceBox__disable {
	display: none !important;
}

/*CHECKOUT PAGE*/

.barker-checkout-header-steps {
	padding-bottom: 50px !important;
}

.woocommerce-checkout .title {
	display: none;
}

.woocommerce-message {
	display: none;
}

.woocommerce-checkout .checkout.woocommerce-checkout {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
}

.woocommerce-billing-fields {
	display: flex;	
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
}

.woocommerce-billing-fields h3 {
	order: 2;
}

.woocommerce-billing-fields p {
	order: 1;    
	font-size: 15px;
    margin-bottom: 42px;
}

.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper {
	order: 3;
}

.culqi-payform-container {
	order: 4;
}


#order_review_heading {
	display: none;
}

#customer_details .col-2 {
	display: none;
}

#order_review {
	background-color: #F6F4F0;
    padding: 2.5%;
}

.barker-checkout_hidenField {
	visibility: hidden;
	position: absolute !important;
	margin-left: -100% !important;
}

.woocommerce-checkout [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
	display: block !important;
	/*position: relative !important;*/
	/*left: 0 !important;*/
}

.barker-checkout-radio-container input[type="radio"]:not(:checked), .barker-checkout-radio-container input[type="radio"]:checked {
	display: block !important;
	position: relative !important;
	left: 0 !important;
}


.culqi-payform-subtitle label {
	font-family: "Roboto" !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    margin-bottom: 1em !important;
    display: block !important;
}


.culqi-payform-container {
	margin-top: 0%;
}

li.wc_payment_method.payment_method_culqi_subscription {
	display: none;
}

a.woocommerce-terms-and-conditions-link {
	    color: #eaba1b;
    text-decoration: underline;
}


.woocommerce-checkout #order_review {
	width: 45% !important;
	padding: 0 !important; 
}

.order-detail__head {
	padding: 25px 0 0 !important;
}

.barker-checkout-date-box {
	border-bottom: 1px solid #CBCBCB;
}

.barker-checkout-notice-cancel {
	font-size: 14px !important;
    font-weight: normal !important;
    color: #BDA88F !important;
}

.woocommerce-checkout #payment ul.payment_methods {
	border-bottom: 0 !important;
}

.woocommerce-checkout-review-order-table tbody,
.woocommerce-checkout-review-order-table tfoot {
	    font-size: 14px !important;
    font-weight: normal !important;
    margin-bottom: .5em !important;
    letter-spacing: 0.5px !important;
}

.shop_table.woocommerce-checkout-review-order-table  {
	padding: 8px 20px 20px;
}

.product-total {
	text-align: right;
}
.cart-subtotal td {
	text-align: right;
}

.cart-discount td {
text-align: right;	
}

.cart-discount a {
	color: #eaba1b !important;
}

.order-total td {
	text-align: right;	
}

.culqi-payform-input input {
	    height: 34px !important;
    padding: 7px 0 !important;
    border-bottom: 1px solid #D6C9BB !important;
    -webkit-transition: all 200ms ease !important;
    transition: all 200ms ease !important;
	/**/
	color: rgba(133,133,133,0.45);
    padding: 7px 0;
    width: 100%;
    height: 34px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.woocommerce-billing-fields__field-wrapper {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
}

.woocommerce-billing-fields__field-wrapper > * {
	width: 100%;
	margin-bottom: 25px !important;
}


.woocommerce-billing-fields__field-wrapper input[type="text"],
.woocommerce-billing-fields__field-wrapper input[type="tel"]  {
	border-top: none;
	border-left: none;
	border-right: none;
}

.woocommerce-billing-fields__field-wrapper #select2-billing_state-container {
	border-top: none;
	border-left: none;
	border-right: none;	
	border-radius: 0 !important; 
}


.barker-checkout-customCoupon-box {
	display: block !important;
}

.woocommerce-checkout .woocommerce-form-coupon-toggle {
	color: #b0967b !important;
}

.woocommerce-form-coupon-toggle {
	visibility: hidden;
	position: absolute;
	margin-left: -100%;
}

.woocommerce-checkout .select2-container--default .select2-selection--single {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-radius: 0 !important;
}

.woocommerce form .form-row.woocommerce-invalid input.input-text {
	border-color: #dc2121 !important;
    border-width: 1px !important;
}

.woocommerce form .form-row.woocommerce-validated input.input-text {
	border-width: 1px !important;	
}
.woocommerce form .form-row input.input-text::placeholder {
	color: #d4d4d4;
}

.woocommerce form .form-row.woocommerce-invalid input.input-text::placeholder {
	color: #d4d4d4;
}

#barker_checkout_kind_house_field {
    position: absolute;
}

#billing_state_field label {
	    font-family: "Baloo Bhai";
    font-weight: normal;
    font-size: 24px;
    display: block;
    line-height: 1.25;
    margin-bottom: 1.1em;
}

.woocommerce-billing-fields h3 {
    font-family: "Baloo Bhai";
    font-weight: normal;
    font-size: 24px;
    display: block;
    line-height: 1.25;
    margin-bottom: 1.1em;
}

/*ORDER CHECKOUT*/


#billing_first_name_field {
	order: 1;
}

#billing_last_name_field {
	order: 2;
}

#billing_phone_field {
	order: 3;
}

#billing_state_field {
	order:4;
}

#f_shipping_address_field {
	order: 5
}

#barker_horario_reparto {
	order: 6;
}



#billing_address_1_field {
	order: 7;
}

#billing_address_2_field {
	order: 8;
}

#billing_city_field {
	order: 9;
}

#barker_checkout_kind_house {
	order: 10;
}

/*#order_review .order-detail__head:nth-child(1) {
	display: none;
}*/

.order-detail__head {
	margin-bottom: 5%;
}


.woocommerce-checkout-review-order-table thead {
	display: none;
}

.woocommerce-privacy-policy-text p {
	display: none;
}



/*checkout radio buttons*/

#barker_horario_reparto {
    /*border: solid red;*/
    display: flex;
    -webkit-flex: flex;
    -moz-flex: flex;
    -ms-flex: flex;
    -o-flex: flex;
    flex: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#barker_checkout_kind_house {
	display: flex;
    -webkit-flex: flex;
    -moz-flex: flex;
    -ms-flex: flex;
    -o-flex: flex;
    flex: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#barker_checkout_kind_house p {
	position: absolute;
}

#barker_horario_reparto p {
	position: absolute;
}

#barker_horario_reparto_field {
	position: absolute;
}

.barker-checkout-radio-house-container {
	position: relative;
}

.barker-checkout-radio-house-container input[type="radio"] {
	position: absolute !important;
	top: 0;
	    width: 45px;
    height: 45px;
    left: 20% !important;
    cursor: pointer;
    opacity: 0;
}


.barker-checkout-radio-house-container {
	border: 2px solid #BDA88F;
    width: auto;
    align-items: center;
    text-align: center;
    padding: 15px;
    height: 50px;
    font-size: 15px;
    color: #5F5D59;

}
.woocommerce-checkout #place_order {
    color: #fff !important;
    background-color: #eaba1b !important;
    padding: .9em 8em !important;
    font-size: 16px !important;
    font-family: "Baloo Bhai" !important;
    border-radius: 30px !important;
    text-align: center !important;
    max-width: 100%;
    width: 100%;
    letter-spacing: 1px;
}

.woocommerce-checkout #place_order_2 {
    color: #fff !important;
    background-color: #eaba1b !important;
    font-size: 16px !important;
    font-family: "Baloo Bhai" !important;
    border-radius: 30px !important;
    text-align: center !important;
    max-width: 100%;
    width: 100%;
    letter-spacing: 1px;
}

.woocommerce-checkout #payment {
	background: transparent !important;
}

.barker-checkout-customCoupon-box {
	display: flex !important;
	-webkit-flex: flex !important;
	-moz-flex: flex !important;
	-ms-flex: flex !important;
	-o-flex: flex !important;
	flex: flex !important;
	flex-wrap: wrap !important;
}

.barker-checkout-customCoupon-box .form-row-first,
.barker-checkout-customCoupon-box .form-row-last {
	width: 100% !important;
}


.barker-checkout-customCoupon-box .form-row-first input {
	    font-family: "Baloo Bhai";
    font-size: 18px;
    padding: 6px 12px;
    text-align: center;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    color: #BDA88F !important;
    background-color: transparent;
    border: 1px solid #BDA88F;
    margin-bottom: 20px;
}

.barker-checkout-customCoupon-box .form-row-first input::placeholder {
	color: #BDA88F !important;
}

.barker-checkout-customCoupon-box {
	padding: 0 !important;
	border: none !important;
}

.barker-checkout-customCoupon-box .form-row-last button {
    color: #fff !important;
    background-color: #AF987D !important;
	    padding: .9em 8em !important;
    font-size: 16px !important;
    font-family: "Baloo Bhai" !important;
    border-radius: 30px !important;
    text-align: center !important;
    max-width: 100% !important;
    width: 100% !important;
}



.woocommerce-terms-and-conditions-wrapper {
	display: flex !important;
	-webkit-flex: flex !important;
	-moz-flex: flex !important;
	-ms-flex: flex !important;
	-o-flex: flex !important;
	flex: flex !important;
    align-items: center;
    vertical-align: middle;
}

.woocommerce-terms-and-conditions-wrapper p.form-row {
    text-align: center;
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 0px 25% !important;
}

.woocommerce-terms-and-conditions-wrapper p.form-row .woocommerce-form__label {
	width: 30%; */
    text-align: center;
    width: 90%;
    font-size: 12px;
    line-height: 1.2;
    font-size: 12px;
    line-height: 1.175;
    color: #eaba1b;
    position: relative;
    padding-left: 12px;
    cursor: pointer;
	display: flex !important;
	-webkit-flex: flex !important;
	-moz-flex: flex !important;
	-ms-flex: flex !important;
	-o-flex: flex !important;
	flex: flex !important;
    align-items: center;
}

.woocommerce-terms-and-conditions-wrapper p.form-row .woocommerce-form__label .input-checkbox {
	    margin: -2px 8px 0 0;
	    text-align: center;
	    vertical-align: middle;
}

.woocommerce-checkout .woocommerce table.shop_table tfoot th {
	border: none !important;
}

.woocommerce-checkout .woocommerce table.shop_table {
    border: none !important;  
}

.woocommerce-checkout .woocommerce table.shop_table td {
    border: none !important;
}


#order_review {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
}

#order_review > * {
	width: 100%;
}

#order_review .order-detail__head {
	order: 1;
}

#order_review .shop_table {
	order: 2;
}

#order_review .order-detail__row {
	order: 3;
}


#order_review .order-detail__row_notice {
	order: 4;
	margin-top: 15px;
}

#order_review #payment {
	order: 5;
}

.woocommerce-error {
	display: none;
}


.woocommerce-form-coupon p:nth-child(1) {
	display: none;
}


.form-row.place-order {
	padding: 10% 12% !important;
}

.barker-checkout-radio-container {
    /*border: solid 1px blue;*/
    background-color: #F6F4F0;
    padding: 16px 30px !important;
    width: 46%;
    display: flex;
    align-items: center;
}

.barker-checkout-radio-container label {
	width: 70%;
	font-size: 14px;
}

.barker-checkout-radio-container input {
	width: 30%;
}

.barker_item_horario {
	color: #858585;
}

.barker-checkout-radio-container input[type='radio']:checked:after {
	background-color: #eaba1b !important;
}

.barker-checkout-radio-container input[type="radio"] {
	width: 25px;
    height: 25px;
    margin: 0 auto;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}


.barker-checkout-radio-house-container-active {
	border-color: #eaba1b !important;
    color: #eaba1b !important;
}

#f_shipping_address {
	width: 100%;
	font-size: 14px;
	color: rgba(133,133,133,0.45);
    padding: 7px 0;
    width: 100%;
    height: 34px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    /* background-image: none; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#f_shipping_address_field {
	width: 100%;
}

#f_shipping_address_field label {
	    font-family: "Baloo Bhai";
    font-weight: normal;
    font-size: 24px;
    display: block;
    line-height: 1.25;
    margin-bottom: 1.1em;
}

#f_shipping_address_field .woocommerce-input-wrapper {
	    padding: 0;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #BDA88F;
    background: #fff url(../images/icons/arrow-select.png) right 2px center/14px 8px no-repeat;
}

.barker-checkout-select {
	margin-bottom: 10%;
}

.barker-checkout-address {
	font-family: "Baloo Bhai";
    font-weight: normal;
    font-size: 24px;
    display: block;
    line-height: 1.25;
    margin-bottom: 1.1em;
}


.field-wrapper input {
	    height: 34px;
    padding: 7px 0;
    border-bottom: 1px solid #D6C9BB;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.product-name, .woocommerce-Price-amount {
	margin-bottom: 15px;
}


input[type=radio]:checked{
  border: 5px solid #0DFF92;
}

input[type=radio]:checked::before{
  background: #0DFF92;
}

input[type=radio]:checked label{
  color: #0DFF92;
}

.woocommerce-NoticeGroup .woocommerce-NoticeGroup-checkout {
	position: absolute !important;
	top: 0;
}

.order-item__text-desc,
.order-item__text-amount {
	display: flex;
	-webkit-flex: flex;
	-moz-flex: flex;
	-ms-flex: flex;
	-o-flex: flex;
	flex: flex;
	flex-wrap: wrap;
}

.order-item__text-desc > * {
	width: 100%;
}

.order-item__text-amount > * {
	width: 100%;
	text-align: right;
}



#customer_details,
.culqi-payform-container,
#order_review {
	visibility: hidden;
	position: absolute;
	margin-left: -100%;
}


#f-district-search-add {
	    border: 0 !important;
    border-bottom: 1px solid #BDA88F !important;
    border-radius: 0 !important;
    height: 34px !important;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100% !important;
    border-top: solid #fff !important;
    border-left: solid #fff !important;
    border-right: solid #fff !important;
}

@media (max-width: 767px) {
	
	.woocommerce-checkout .page-name {
		display: none;
	}

	#delivery-wizard-p-3 {
		display: block;
	    width: 100%;
	    border: solid;
	    max-width: 320px;
	    margin-top: 10%;
	}


	.woocommerce-checkout #order_review {
		width: 100% !important;
    	padding: 0 !important;
    	order: 1;
    	margin-top: 15%;

	}

	#customer_details {
		order: 2;
	}

	.culqi-payform-container {
		order: 3;
	}

	.barker-checkout-radio-container {
		width: 100%;
		margin-bottom: 15px;
	}

	.barker-checkout-radio-house-container {
		font-size: 10px !important;
    	height: 35px;
    	padding: 10px 10px;
	}

	.barker-checkout-radio-house-container input[type="radio"] {
		width: 25px !important;
    	height: 25px !important;
    	left: 25% !important;
	}

	.barker-checkout-customCoupon-box .form-row-last button {
		padding: .9em 4em !important;
	}

	.form-row.place-order {
	    padding: 5% 0% !important;
	}

	.col-1 {
		min-width: 320px !important
	}

	.culqi-payform-container {
		margin-top: 10%;
	}

	.culqi-payform-subtitle label {
		text-align: left;
	}

	.culqi-payform-input input {
		margin: 15px 0 !important;
	}

			#place_order_2 {
		    padding: .9em 3em !important;
	}



}


@media (min-width: 767px) {

	.woocommerce-checkout #customer_details {
		width: 50%;
	}	



	.woocommerce-checkout #order_review {
		width: 50%;
	}	

		#place_order_2 {
		display: none;
	}
	
}