/* ================
   ACCORDION
   ================ */

.accordion {
	.panel {
		margin-bottom: 20px;
		text-align: left;

		&__header {
			position: relative;
			display: flex;
			cursor: pointer;
			// padding-left: calc(52px + 12px);
			min-height: 40px;
			padding: 8px 16px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: $brown-light;
			transition: all 200ms ease;
			color: $white;
			border-radius: 20px;

			&:hover,
			&.is-active {
				background-color: $yellow-dark;
			}

			&.is-active {
				.action {
					opacity: 1;

					svg {
						fill: $white;
						transform: rotate(-180deg);
					}
				}
			}
			
			.title,
			.action {
				font-weight: normal;
				display: inline-block;
			}

			.title {
				font-size: 16px !important;
			}

			.action {
				display: flex;

				svg {
					vertical-align: middle;
					width: 17px;
					height: 17px;
					fill: $white;
					margin-left: 4px;
					transform: rotate(0);
					transition: all 200ms ease;
				}
			}
		}

		&__content {
			display: none;
			padding: 25px 20px 10px;

			p,
			ul,
			li,
			span,
			a {
				font-weight: normal;
				text-align: left;
				font-size: 14px;
			}

			li + li {
				margin-top: 6px;
			}
		}
	}

	/* Media queries general */
	@include mq('tablet-wide', max) {

	}

	@include mq('tablet', max) {
		.panel {
			margin-bottom: 15px;
			
			&__header {
				.title {
					font-size: 14px !important;
				}

				.action {
					svg {
						width: 14px;
						height: 14px;
					}
				}
			}

			&__content {
				padding: 16px 10px 10px
			}
		}
	}
}