.blog {
	&-banner {
		&__item {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			height: 480px;
		}

		.owl-carousel {
			.owl-dots {
				position: absolute;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		&__text {
			color: $white;
			width: 450px;
			max-width: 100%;
			padding-bottom: 50px;

			h2 {
				font-family: $font-secondary;
				font-size: 44px;
				font-weight: normal;
				margin-bottom: .2em;
			}

			p {
				font-size: 24px;
			}
		}
	} 

	&-categories {
		background-color: $brown-extralight;

		&__carousel {
			// border-bottom: 2px solid #E7E7E7;

			.owl-carousel {
				.owl-stage-outer {
					position: relative;

					&::after {
						content: '';
						position: absolute;
						left: 0;
						bottom: 0;
						height: 2px;
						background-color: #E7E7E7;
						width: 100%;
						z-index: -1;
					}
				}

				.owl-nav {
					.owl-prev,
					.owl-next {
						display: flex;
						position: absolute;
						@include center-elm(false, true);
						svg {
							width: 40px;
							height: 40px;
							fill: $yellow;
						}
					}

					.owl-prev {
						right: calc(100% + 20px);
					}

					.owl-next {
						left: calc(100% + 20px);
					}
				}
			}
		}

		&__item {
			height: 90px;

			&.is-current {
				a {
					position: relative;

					&::after {
						content: '';
						position: absolute;
						bottom: 0;
						width: 100%;
						display: block;
						height: 5px;
						background-color: $yellow-dark;
						z-index: 1;
					}
				}
			}

			a {
				font-family: $font-secondary;
				font-size: 20px;
				font-weight: normal;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $gray-light;
				height: 100%;
				padding: 0 20px;
			}
		}
	}

	@include mq('tablet-wide', max) {
		&-banner {
			&__item {
				height: 400px;
			}
			
			&__text {
				h2 {
					font-size: 35px;
				}
	
				p {
					font-size: 20px;
				}
			}
		}

		&-categories {
			&__item {
				height: 65px;
				
				a {
					font-size: 18px;
				}
			}
		}
	}

	@include mq('tablet', max) {
		&-banner {
			&__item {
				height: 280px;
			}

			.owl-carousel {
				.owl-dots {
					bottom: 7px;
				}
			}

			&__text {
				width: 60%;
				padding-bottom: 40px;

				h2 {
					font-size: 18px;
				}
	
				p {
					font-size: 14px;
				}
			}
		}

		&-categories {
			background-color: $white;
			border-bottom: 1px solid $yellow;

			> .container {
				max-width: 100%;
			}

			&__carousel {
				border-bottom: 0;

				.owl-carousel {
					.owl-stage-outer {
						&::after {
							width: 0;
							height: 0;
						}
					}
				}
			}

			&__item {
				height: 45px;

				&.is-current {
					a {
						&::after {
							height: 3px;
						}
					}
				}
				
				a {
					font-size: 14px;
					padding: 0 10px;
				}
			}
		}
	}

	@include mq('phablet', max) {
		&-banner {
			&__item {
				height: 180px;

				&-text {
					padding-bottom: 30px;
				}
			}
		}
	}

}