.profile-data {
  margin-bottom: 30px;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8px 15px 16px;
    background-color: $brown-extralight;
  }

  &__text {
    h6 {
      font-family: $font-secondary;
      font-size: 22px;
      color: $brown-light;
      font-weight: normal;
    }

    span {
      font-size: 18px;
      display: block;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    padding-left: 10px;

    button {
      display: flex;
      padding: 5px;
      @extend %btn;

      &:hover {
        svg {
          fill: darken($brown-light, 15%);
        }
      }

      svg {
        width: 24px;
        height: 24px;
        fill: $brown-light;
        transition: all 200ms ease;
      }
    }
  }

  &__edit {
    display: none;
  }
}