.breadcrumbs {
  color: $white;
  margin-bottom: 20px;

  ul {
    display: flex;
    align-items: center;

    li {
      + li {
        &::before {
          content: '>';
          margin: 0 14px;
          display: inline-block;
          font-size: 20px;
        }
      }

      &:first-of-type {
        font-weight: bold;
      }
    }

    a {
      font-size: 20px;
      color: $white;
    }
  }

  @include mq('tablet', max) {
    color: $gray;
    margin-bottom: 10px;

    ul {
      li {
        + li {
          &::before {
            content: '>';
            margin: 0 6px;
            font-size: 14px;
          }
        }
      }

      a {
        font-size: 13px;
        color: $gray;
      }
    }
  }
}