.card-simple {
	text-align: center;

	&__image {
		img {
			width: 250px !important;
			@extend %center-block;
		}
	}


	&__title {
		font-size: 30px;
		font-family: $font-secondary;
		letter-spacing: 3px;
		padding: 15px;
	}

	p {
		padding: 20px 0;	
	}

	@include mq('tablet', max) {
		&__image {
			img {
				width: 320px !important;
			}
		}

		p {
			padding: 20px 0 0;
		}
	}
}


.card-news {
	margin-bottom: 45px;

	&__wrapper {
		box-shadow: 0 0 25px 1px rgba($black, .1);
		overflow: hidden;
		border-radius: 8px;
		transition: all 250ms ease;
		text-align: left;
		text-decoration: none;
		color: $gray-dark;

		&:hover {
			box-shadow: 0 0 35px 1px rgba($black, .2);
		}
	}

	&__title {
		font-family: $font-secondary;
		font-weight: normal;
		font-size: 22px;
		margin-bottom: .25em;
	}

	&__date {
		font-size: 13px;
		letter-spacing: 1px;
		margin-bottom: 1.5em;
		display: block;
	}

	&__content {
		background-color: $white;
		padding: 20px;

		p {
			font-size: 17px;
			font-weight: 300;
			line-height: 1.5 !important;
		}
	}

	@include mq('desktop') {
		padding-left: 25px;
		padding-right: 25px;
	}

	@include mq('tablet', max) {
		&__title {
			font-size: 18px;
		} 

		&__date {
			margin-bottom: 0;
		}

		&__content {
			p {
				display: none;
			}
		}
	}

	@include mq('phablet', max) {
		padding-top: 12px;
		padding-bottom: 12px;
		margin-bottom: 0;
		border-bottom: 1px solid rgba(black, .3);

		&:last-of-type {
			border-bottom: 0;
		}

		&__wrapper {
			display: block;
			box-shadow: none;
			display: flex;
			align-items: flex-start;

			&:hover {
				box-shadow: none;
			}
		}

		&__image {
			width: 70px;
			margin-right: 10px;
			flex: 0 0 auto;
		}

		&__content {
			width: 100%;
			padding: 8px 0 0;
		}

		&__title {
			font-size: 16px;
		}

		&__date {
			font-size: 12px;
			font-weight: 300;
		}
	}
}