/** Section styles general */
.main {
	position: relative;
}

.page-wrap {
	padding-top: 60px;
	position: relative;

	@include mq('tablet', max) {
		padding-top: 45px;
	}
}

.page-name {
	box-shadow: 0 2px 5px rgba($black, .15);
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;

	> h1, h2 {
		font-family: $font-secondary;
		font-weight: normal;
		font-size: 16px;
	}

	@include mq('tablet') {
		display: none;
	}
} 

.section {
	padding: 65px 0;

	p {
		line-height: 1.65;
	}

	&-header {
		margin-bottom: 45px;
	}

	&--big {
		p {
			font-size: 22px;
			line-height: 1.45;
		}
	}
	
	&--highlight {
		background-color: $brown-extralight;
	}

	@include mq('tablet-wide', max) {
		padding: 45px 0 !important;
	}

	@include mq('tablet', max) {
		padding: 30px 0 35px !important;
		text-align: center;

		p {
			font-size: 14px;
		}
	}
}

.sub-section {
	padding: 35px 0;
}

.link {
	font-size: 14px;
	font-weight: normal;
	background-color: $yellow;
	color: $white;
	padding: 4px 20px;
	line-height: 1.25;
	border-radius: 6px;
	margin-left: 10px;
}

.text-black {
	font-weight: normal;
	// color: $black !important;
}

.nav-secondary {
	height: 60px;

	&__content {
		height: 50px;
		position: fixed;
		top: 60px;
		left: 0;
		width: 100%;
		background-color: $brown-extralight;
		z-index: 10;
	}

	> .u-flex {
		height: 100%;
	}

	a {
		font-family: $font-secondary;
		color: $gray;
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&.is-active {
			&::after {
				background-color: $yellow;
			}
		}

		&::after {
			content: '';
			width: 70px;
			height: 3px;
			bottom: 0;
			background-color: $transparent;
			@include center-elm(true, false);
		}
	}

	@include mq('tablet', max) {
		display: none;
	}
}

.sidebar {
	&__title {
		font-family: $font-secondary;
		font-size: 20px;
		font-weight: normal;
		color: $gray-light;
		margin-bottom: .3em;
	}

	&__list {
		li {
			border-bottom: 1px solid lighten($gray-light, 25%);
		}
	}

	&__item {
		+ .sidebar__item {
			margin-top: 55px;
		}
	}
}

.popup-inner {
	display: none;
	position: relative;
	background: $white url(../images/bg-header-links.png) center/320px 640px repeat;
	// max-width: 900px;
	// padding: 45px 70px;
	@extend %center-block;	

	.mfp-content & {
		display: block;
	}
}

/* Text line */
.text-line {
	font-size: 15px;
	margin-bottom: 42px;

	p {
		line-height: 1.3;
	}
}

/* Line custom */
hr.line-dotted {
	border: 0;
	border-top: 1px dotted $transparent;
	margin: 0;

	&--yellow {
		border-color: $yellow;
	}
}

/* Link action */
a.link-action,
span.link-action {
	font-size: 13px;
	font-weight: bold;
	display: block;
	color: $brown-light;
	text-decoration: underline;
	letter-spacing: 0.5px;
	cursor: pointer;
	transition: all 200ms ease;
	-webkit-tap-highlight-color: $transparent;

	&:hover {
		color: darken($brown-light, 10%);
	}
}