.site-footer {
	background-color: #4C4B47;
	padding: 20px 0 25px;

	&__header {
		border-bottom: 1px solid #999999;
		padding-bottom: 18px;
		margin-bottom: 20px;

		.u-flex {
			justify-content: center;
			
			svg {
				width: 138px;
				height: 39px;
				fill: $yellow;
			}
		}
	}

	&__title {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 1em;
		color: $white;
	}

	&__links {
		li {
			+ li {
				margin-top: 8px;
			}
		}

		a {
			display: flex;
			align-items: center;
			color: $white;
			font-weight: normal;
			transition: all 200ms ease;

			&:hover {
				color: $yellow;

				.icon {
					svg {
						fill: $yellow;
					}
				}
			}

			.icon {
				display: flex;
				margin-right: 8px;

				svg {
					width: 16px;
					height: 16px;
					fill: $white;
					transition: all 200ms ease;
				}
			}
		}
	}
}