extends ../templates/base-structure

block config
	- var title = 'BARKER - Preguntas frecuentes' //- título de página

block main
	- var current = 'Conócenos'
	- var classVisible = false

	include ../templates/header

	nav.nav-secondary
		.nav-secondary__content
			.container.u-flex
				a(href="nosotros.html") Nosotros
				a(href="ingredientes.html") Ingredientes
				a(href="como-funciona.html") Cómo funciona
				a.is-active(href="faq.html") Preguntas frecuentes
	
	.page-wrap
		main.main
			.page-name
				h2 Preguntas frecuentes

			section.section.faq
				.container
					.row.justify-content-center
						.col-lg-10
							.section-header
								.title.u-text-center
									h2 ¿Dudas? Revisa aquí
								p.u-text-center En los siguientes puntos podrás aclarar algunas dudas con respecto a nosotros. Como el producto, distribución y suscripción.

					.tab.row.u-pl-md--lv7.u-pr-md--lv7
						.faq__categories.tabs-nav.col-lg-2.js-tabs
							.subtitle-xs: h5 Categorías
							ul
								li(data-tab="1"): span Producto
								li(data-tab="2"): span Distribución
								li(data-tab="3"): span Suscripción
						
						.tab__content.col-lg-10
							#1.tab__content-item
								ul.accordion.js-accordion
									li.panel
										a.panel__header
											span.title 1.	¿Qué beneficios puede traer BARKER a mi mascota?
											span.action
												svg: use(xlink:href="./images/sprite.svg#arrow-down")
										.panel__content
											ul
												li •	Mayor energía y vitalidad
												li •	Mejora aliento y desaparece tartar en los dientes
												li •	Fortalece el sistema inmune
												li •	Hidrata y mejora el balance de agua
												li •	Reduce el impacto de enfermedades degenerativas
												li •	Pelo sano y brillante con menos caída de pelo
												li •	Heces más pequeñas y menos olorosas

									li.panel
										a.panel__header
											span.title 2.	¿Qué es la tendencia BARF y como se adapta BARKER a esta?
											span.action
												svg: use(xlink:href="./images/sprite.svg#arrow-down")
										.panel__content
											p BARF (Biologically Appropriate Raw Food) o ACBA (Alimentos Crudos Biológicamente Apropiados) en español es una nueva tendencia de alimentos para perros donde se trata de alimentar a las mascotas con alimentos crudos biológicamente adecuados para ellos. El objetivo de la dieta es “maximizar la salud, longevidad y capacidad reproductiva de los perros”.
											p BARKER se adapta a esta tendencia brindando la proteína cruda, pero adicionando carbohidratos, verduras, minerales y vitaminas para lograr una formula balanceada y responsable libre de químicos y preservantes.

									li.panel
										a.panel__header
											span.title 3.	¿Es peligroso darle proteína cruda a mi mascota?
											span.action
												svg: use(xlink:href="./images/sprite.svg#arrow-down")
										.panel__content
											p El alimento es congelado para conservar los nutrientes y eliminar posibles bacterias. BARKER cuenta con proveedores reconocidos, una cadena de frío establecida de inicio a fin, y una planta de producción equipada con un laboratorio para la trazabilidad de la proteína cruda. Además, es importante resaltar que los perros tienen la fisiología y el sistema digestivo equipado para poder hacer frente a cualquier posible bacteria que se encontrará en la carne cruda debido a sus jugos gástricos y saliva a la hora de alimentarse. Esto los diferencia principalmente de los seres humanos.
							
							#2.tab__content-item
								ul.accordion.js-accordion
									li.panel
										a.panel__header
											span.title 1.	¿Con qué canales de venta cuenta BARKER?
											span.action
												svg: use(xlink:href="./images/sprite.svg#arrow-down")
										.panel__content
											p BARKER se venderá en dos canales de venta distintos: en veterinarias o a través de la página web con suscripción.
											p Veterinarias: BARKER está presente en veterinarias de distintos distritos de Lima. Para saber la veterinaria más cercana, puedes entrar a “puntos de venta”
											p Si quieres que te llegue Barker semanalmente, puedes entrar a “diseña tu pedido” o “suscripción” y personalizar el pedido eligiendo el sabor, el plan (mensual, trimestral, semestral o anual) y la dirección a donde se desea recibir el producto.
							
							#3.tab__content-item
								ul.accordion.js-accordion
									li.panel
										a.panel__header
											span.title 1. ¿Cómo puedo cancelar mi suscripción?
											span.action
												svg: use(xlink:href="./images/sprite.svg#arrow-down")
										.panel__content
											p Ingresando a tu sección de pedidos y puedes cancelar al momento, la lógica esta pensada para que debite el último mes o tres meses de suscripción, luego ya no se renueva hasta que el usuario lo autoriza.
									li.panel
										a.panel__header
											span.title 2.	¿Cómo puedo cambiar detalles de mi suscripción?
											span.action
												svg: use(xlink:href="./images/sprite.svg#arrow-down")
										.panel__content
											p Ingresas a la sección de pedidos das click en tu pedido suscrito(actual y modificas horas de entrega, sabor o cancelar)
									li.panel
										a.panel__header
											span.title 3.	¿Dónde veo mis suscripciones pasadas?
											span.action
												svg: use(xlink:href="./images/sprite.svg#arrow-down")
										.panel__content
											p Ingresas a pedidos y solo podrás ver los pedidos pasados, un resumen y la opción de retomar el pedido.

						

					//- .row.u-pl-md--lv7.u-pr-md--lv7
					//- 	.col-lg-2
					//- 		.panel-box
					//- 			.panel-box__header
					//- 				.subtitle-xs
					//- 					h5 Categorías
					//- 			.panel-box__content
					//- 				ul
					//- 					li: a.is-active(href="") Producto
					//- 					li: a(href="") Distribución

					//- 	.col-lg-10
					//- 		ul.accordion.js-accordion
					//- 			-
					//- 				var productFaq = [
					//- 					{title: '¿Qué beneficios puede traer BARKER a mi mascota?', description: ''}
					//- 				]
					//- 			- for (var i = 1; i <= 7; i++) {
					//- 				li.panel
					//- 					a.panel__header
					//- 						span.title Pregunta del item #{i}
					//- 						span.action
					//- 							svg: use(xlink:href="./images/sprite.svg#arrow-down")
					//- 					.panel__content
					//- 						p Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian.
					//- 			- }
	
	include ../templates/footer