extends ../templates/base-structure

block config
	- var title = 'BARKER - Preguntas frecuentes' //- título de página

block main
	- var current = 'Conócenos'
	- var classVisible = false

	include ../templates/header

	nav.nav-secondary
		.nav-secondary__content
			.container.u-flex
				a(href="nosotros.html") Nosotros
				a(href="ingredientes.html") Ingredientes
				a(href="como-funciona.html") Cómo funciona
				a.is-active(href="faq.html") Preguntas frecuentes

	.page-wrap
		main.main
			.page-name
				h2 Preguntas frecuentes

			section.section.faq
				.container
					.row.justify-content-center
						.col-lg-10
							.section-header
								.title.u-text-center
									h2 Datos de perfil
								p.u-text-center Type something Type something texto falso, es la muestra del texto falso, la del texto falso es un lorem ipsum la del texto falso es un lorem ipsum

					.row
						.col-md-4.profile-data
							.profile-data__box
								.profile-data__text
									h6 Nombre completo:
									span Pedro Rodriguez
								.profile-data__action
									button.js-btn-edit-data-profile: svg: use(xlink:href="./images/sprite.svg#edit")
									button.js-btn-remove-data-profile: svg: use(xlink:href="./images/sprite.svg#trash")
							.js-modal-input-edit
								.profile-data__edit.modal-confirm
									.modal-confirm__body
										h4 Escribe tu nombre completo
										.field-wrapper
											input(type="text" name="f-fullname" id="f-fullname" placeholder="Ejemplo: Pelusa")
									.modal-confirm__footer
										button.btn.btn--secondary(type="button") Cancelar
										button.btn.btn--primary(type="button") Guardar



						.col-md-4.profile-data
							.profile-data__box
								.profile-data__text
									h6 DNI:
									span 12345678
								.profile-data__action
									button.js-btn-edit-data-profile: svg: use(xlink:href="./images/sprite.svg#edit")
									button.js-btn-remove-data-profile: svg: use(xlink:href="./images/sprite.svg#trash")
						.col-md-4.profile-data
							.profile-data__box
								.profile-data__text
									h6 Teléfono:
									span 951 310 788
								.profile-data__action
									button.js-btn-edit-data-profile: svg: use(xlink:href="./images/sprite.svg#edit")
									button.js-btn-remove-data-profile: svg: use(xlink:href="./images/sprite.svg#trash")
						.col-md-4.profile-data
							.profile-data__box
								.profile-data__text
									h6 Correo:
									span nombre@gmail.com
								.profile-data__action
									button.js-btn-edit-data-profile: svg: use(xlink:href="./images/sprite.svg#edit")
									button.js-btn-remove-data-profile: svg: use(xlink:href="./images/sprite.svg#trash")
						.col-md-4.profile-data
							.profile-data__box
								.profile-data__text
									h6 Número de tarjeta:
									span 1234 5678 9012 3456
								.profile-data__action
									button.js-btn-edit-data-profile: svg: use(xlink:href="./images/sprite.svg#edit")
									button.js-btn-remove-data-profile: svg: use(xlink:href="./images/sprite.svg#trash")
						.col-md-4.profile-data
							.profile-data__box
								.profile-data__text
									h6 Afiliado:
									span 14/07/97
								.profile-data__action
									button.js-btn-edit-data-profile: svg: use(xlink:href="./images/sprite.svg#edit")
									button.js-btn-remove-data-profile: svg: use(xlink:href="./images/sprite.svg#trash")



	include ../templates/footer